# Arquivos gerados pelo Node.js
node_modules/

# Arquivos gerados pelo TypeScript
dist/

# Arquivos de dependências específicos do sistema operacional ou IDE
.DS_Store
.vscode/
.idea/

# Arquivo de log
*.log

# Arquivos de ambiente local
.env

# Arquivos de build ou cache
*.bak
*.cache
*.lock
*.log
*.swp
*.tmp
*.tmp.*
*.sublime-workspace

# Arquivos de configuração do usuário
npm-debug.log
yarn-debug.log
yarn-error.log
.vercel
